.selector {

    margin-left: 500 auto;
    padding: 20px;



}

body {
    background-color:black;
    color:white;
    font-family: 'Acme', sans-serif;
}
h3{
    color:white;
}
h1 {

    font-size: 40px;
    font-weight: 700;
    font-family: 'Acme', sans-serif;
    text-align: center;
    color: whitesmoke;

}

.btn-search {

    margin: 10px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    font-style: bold;
    font-family: 'Acme', sans-serif;

    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    border: none;
}

.btn-search:hover {
    background-position: right center;
    /* change the direction of the change here */
}

.btn-search {
    background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
}

.txtbox{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 500px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.autocomplete {
    
    position: relative;
    display: inline-block;
  }
  #sug-dropdrown
  {
      border-radius: 20px;
      /*box-shadow: 1px 3px 6px#0ff;*/
      border: 1px solid white;
      text-align:center;
      padding:2px;
      margin-top: 5px;
      cursor: pointer;
  }
  #suggestions:hover
  {
    color:black;
  }